<div class="container mt-5 mb-5">
  <img src=""  width="100%">

  <h2 class="text-center">Quem somos</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at 
    elementum eu facilisis sed odio morbi. At tellus at urna condimentum mattis.
    Nulla aliquet enim tortor at auctor urna nunc id.
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at Lorem
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at elementum
    eu facilisis sed odio morbi. At tellus at urna condimentum mattis. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Leo urna molestie at 
  </p>
</div>